<a href="https://colab.research.google.com/github/dinesh-umkc/kdm/blob/main/ICP3_Text_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective
Text classification using 20 news group

Perform below activities
1. Get dataset
2. Preapare Data for classification
3. Feature extraction and explore vectorization
  *  Count vector
  *  TF-IDF vector
  *  Word level TF-IDF
  *  N-Gram level TF-IDF
  *  Character level TF-IDF
  *  Hashing vercor
4. Use of classifiers

In [5]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Load Packages

In [6]:
# load packages
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer,HashingVectorizer
from sklearn import decomposition, ensemble

import numpy as np
import pandas as pd
import csv

# Import 20News Group Dataset

In [7]:
#import dataset
from sklearn.datasets import fetch_20newsgroups
newsgroups = fetch_20newsgroups(subset='all')

df = pd.DataFrame(newsgroups.data, columns=['text'])
df['categories'] = [newsgroups.target_names[index] for index in newsgroups.target]
df.head()

                                                text                categories
0  From: Mamatha Devineni Ratnam <mr47+@andrew.cm...          rec.sport.hockey
1  From: mblawson@midway.ecn.uoknor.edu (Matthew ...  comp.sys.ibm.pc.hardware
2  From: hilmi-er@dsv.su.se (Hilmi Eren)\nSubject...     talk.politics.mideast
3  From: guyd@austin.ibm.com (Guy Dawson)\nSubjec...  comp.sys.ibm.pc.hardware
4  From: Alexander Samuel McDiarmid <am2o+@andrew...     comp.sys.mac.hardware